#!/bin/bash
#                                  MIT License
#                       Copyright 2026, Sébastien Kéroack
# ==============================================================================

# Activate virtual environment
if [[ -d ".venv/bin" ]]; then
	PATH_add ".venv/bin"
elif [[ -d ".venv/Scripts" ]]; then
	PATH_add ".venv/Scripts"
fi

# Source environment variables
set -o allexport; source env.sh; set +o allexport
