#!/usr/bin/env bash
#                                  MIT License
#                       Copyright 2026, Sébastien Kéroack
# ==============================================================================

# Prevent multiple inclusions
[ "${_PROJECT_ENVVAR_LOADED:-}" == "true" ] && return 0

# Activate virtual environment
if [[ -d ".venv/bin" ]]; then
	PATH_add ".venv/bin" || true
elif [[ -d ".venv/Scripts" ]]; then
	PATH_add ".venv/Scripts" || true
fi

echo "Loading environment variables for cluster..."
set -o allexport

# Determine the project root directory based on the location of this script
if [ -n "${BASH_SOURCE[0]:-}" ]; then
  PROJECT_ROOT=$(dirname "$(readlink -f "${BASH_SOURCE[0]}")")
else
  PROJECT_ROOT=$(pwd -P)
fi

# Source utility functions
source "$PROJECT_ROOT/tools/utils.sh" 1>/dev/null

# Source environment variables
source "$PROJECT_ROOT/.env" || true

# Indicate that the environment variables have been loaded
_PROJECT_ENVVAR_LOADED="true"

set +o allexport
echo "Environment variables for cluster loaded."
