# ==============================================================================
# Ignore local development and environment files
# ==============================================================================

# Local configuration and environment files (not tracked in git)
.data/
.local/
env.sh

# Ignore generated Docker Compose file
ci/docker-compose.yaml

# Ignore generated conda environment configuration file
ci/environment.yaml

# Ignore resume content,location,query files
# except for *.fake.* files and job-listings-merge.sql
resume/*
!resume/*.fake.*
!resume/job-listings-merge.sql

# ==============================================================================
# Editor and IDE files
# ==============================================================================

# Visual Studio Code workspace settings and folders
.vs/
/.vscode/*
!/.vscode/extensions.json            # Allow recommended extensions
!/.vscode/settings_recommended.json  # Allow recommended settings

# ==============================================================================
# Python cache files
# ==============================================================================

__pycache__/
.pytest_cache/
