[submodule "piggeldi2013/n8n-timeout-patch"]
	path = third_party/piggeldi2013/n8n-timeout-patch
	url = https://github.com/Piggeldi2013/n8n-timeout-patch.git
	ignore = dirty
	shallow = true
[submodule "speedyapply/jobspy"]
	path = third_party/speedyapply/jobspy
	url = https://github.com/speedyapply/JobSpy.git
	ignore = dirty
	shallow = true
[submodule "n8n-io/n8n"]
	path = third_party/n8n-io/n8n
	url = https://github.com/n8n-io/n8n.git
	ignore = dirty
	shallow = true
